.content{
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}


.main-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.main-content-img{
    height: 430px;
}
.main-content-written{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-content-written-title{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 62px;
    color:  #FFF2E7;
}
.main-content-written-subtitle{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
}

.main-content-written-button{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    border: none;
    color: #2F2325;
    background-color:#ECD6C4;
    width: 180px;
    height: 60px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.main-content-written-button:hover{
    background-color: rgba(236, 214, 196, 0.53);
    cursor: pointer;
}